@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 38% 97%;
    --foreground: 216 25% 25%;

    --card: 220 38% 97%;
    --card-foreground: 216 25% 25%;

    --popover: 220 38% 97%;
    --popover-foreground: 216 25% 25%;

    --primary: 277 91% 56%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 277 91% 56%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 277 91% 56%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 216 25% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 216 25% 25%;
    --foreground: 0 0% 100%;

    --card: 216 25% 25%;
    --card-foreground: 0 0% 100%;

    --popover: 216 25% 25%;
    --popover-foreground: 0 0% 100%;

    --primary: 277 91% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#F4F6FA] text-[#313E51] dark:bg-[#313E51] dark:text-[#FFF] relative;
  }
}

.fade-in {
  opacity: 0; /* Set initial opacity */
  animation: fadeIn 1s forwards; /* Apply animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start opacity */
  }
  to {
    opacity: 1; /* End opacity */
  }
}
